{% extends 'base.html' %}
{% block content %} 
    
<div class="container mt-4">
    <div class="row">
        <div class="bg-white vh-100 text-black d-flex align-items-center justify-content-center">
            <div class="container">
              <br>
                  <div class="jumbotron bg-white text-black">
                    <h1 class="display-4">{{name}}</h1>
                    <p class="lead">Selamat Datang di Beauty Craft</p>
                      <hr class="my-4">
                      <p>Kami menghadirkan produk terbaik untuk memenuhi kebutuhan Anda</p>
                      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                  </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}